# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# Flask uploads
uploads/*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Python environment
*.log